html {
    text-align: center;
    background-color: aquamarine;
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: normal;
}

img {
    max-width: 480px;
    max-height: 720;
}